body    {
        background-image: url(background.jpg);
        margin : 0px;
}

h1  {
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        padding: 30px;
        text-align: center;
        text-decoration-line: underline;
        text-shadow: 0px 2px 5px rgb(0, 0, 0);
}

p  {
        color: rgb(26, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 25px;
}

a:link, a:visited {
        color: rgb(74, 184, 70);
        text-decoration: none;
        font-size: 25px;
        text-shadow: 0px 2px 5px rgb(0, 0, 0)
}  
        
a:hover {
        color: rgb(255, 255, 255); 
        text-decoration: underline;
}

.topnav {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        word-spacing: 100px;
        background-color: rgb(26, 26, 26);
        box-shadow: 0px 2px 2px;
}

.aboutme {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 500px;
}

.rummut {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
}

.modelpoint {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        background-color: rgb(0, 0, 0);
}

.goodreads {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
        width: 300px;
        background-color: rgb(255, 255, 255);
}