body    {background-image: url(background.jpg);
        margin : 0px;}

h2  {color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 25px;
text-decoration-line: underline;}

p  {color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;}
    
a:link, a:visited {color: rgb(74, 184, 70);
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0px 2px 5px rgb(0, 0, 0)}  
        
a:hover {color: rgb(255, 255, 255); 
        text-decoration: underline;}

.topnav {text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        word-spacing: 100px;
        background-color: rgb(26, 26, 26);
        box-shadow: 0px 2px 2px;}

.cv {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 150px;}
